/* IE seems to show borders around images as a default */
a img{border:none;}

a:link {
    color: #000;
}
a:visited {
    color: #000;
}

:target {
    outline: solid #E87406 4px; 
}

p.code {
    font-family: monospace;
    padding: 0 0 0 2em;
    background-color: #FFFFFF;
}

code {font-family:monospace;}

hr {
    height: 0.2em;
    color: #92948f;
    background-color: #92948f;
}

.chunk {
    width: 100%;
}


.rimage img {
    max-width: 100%;
}

/*
.source {
    border: #000 solid 3px;
}

.output {
    background: #0000FF;
}


img.plot{
    width: 50%;
}
*/
.rpkg{
    font-weight: bold;
}

body {
    font-size: 100%;
    font-family: "Times New Roman", serif;
    background: #555653;
    padding: 1em 0 1em 0;
    margin: 0;
}

div#wrap {
    background: #FFFFFF 0% 0;
    width: 70%;
    margin: 0 auto;
    padding: 2em 2em 2em 2em;
    border-radius: 1em;
}

h1#projectname {
    font-size: 2.5em;
    color: #92948f;
    display:inline;
}

div#logo {
    margin: 0;
    float: right;
}

h2#projectsubname {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #8796c0;
}

div#menu {
    margin: 2em auto;
    border-width: 0.2em 0;
    border-style: solid;
    border-color: #8796c0;
    clear:both;
}

div#menu ul {
    overflow:hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

div#menu ul li {
    width: 20%;
    float: left;
    text-align: center;
}

div#menu ul li a {
    display: block;
    padding: 0.2em 0;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

div#menu ul li a:hover, a:active {
    color: #8796c0;
}

div#menu ul li a.currentPage{
    color: #FFFFFF;
    background: #8796c0;
}

div#menu ul li a span {
    text-decoration: underline;
}

div#footer {
    background: #555653;
    width: 70%;
    margin: 0 auto;
}

div#validation {
    float: right;
    padding: 2em;
}


div#reqAndInstall {
    width:75%;
    margin: 3em auto;
    border: solid;
    padding: 0 1em;
    border-color:#8796c0;
    border-radius:.5em;
}

#reqAndInstall table {
    border: none;
    border-collapse: collapse
}

#reqAndInstall table th {
    text-align: right;
    border-right: #8796c0 solid 1px;
}
.reqtitle {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 1em 0 0;
}
#reqAndInstall table td {
    font-style: normal;
    padding: 0 0 0 1em;
}
#reqAndInstall table  {
    margin: 0 auto;
}

img#screenshot {
    width: 40%;
    float: left;
    clear: left;
    margin: 0;
    border: #000 solid 1px;
}

div#featurelist {
    width: 55%;
    float: right;
    clear: right;

}

div#featurelist dl{
   margin-bottom: 1em;
   margin-top: 0;
}

div#featurelist dl:last-child{
   margin: 0;
}

div#featurelist dl dt {
    font-weight: bold;
    font-size: 1.1em;
    font-style: italic;
    color: #555653;
    padding: 0em 0 0.3em 0;
}

div#featurelist dl dd:before {
    content: "- ";
}

div#featurelist dl dd {
    padding-left: 0em;
    text-indent: -.7em;
}

.references{
  background: #FFFFFF;
  width: 100%;
  margin: 0 auto;
}

.references ul{
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.references ul li dl dt{
    padding: 0.75em 0.75em;
    border: #8796c0 solid 2px;
    background: #E3E4E3;
    border-radius:.25em;
    font-size: 1em;
    font-weight: normal;
    display: block;
    text-decoration: none;
}

.references ul li dl dt a {
    color: black;
    text-decoration: none;
}

.paperdescription {
    width: 90%;
    margin: 0 auto;
    padding: 0.75em 0 1.5em 0;
    font-style: normal;
    color: #000;
}

.references ul li ul {
    list-style-type: square;
    padding-left: 1em;
}

.references .papertitle {
    font-weight: bold;
}

.papertitle {
    font-style: italic;
}

#log li{
    list-style-type: square;
}

